.body-container {
    display  : flex;
    flex-wrap: wrap;
    gap      : 5px;

    .form-item {
        width          : calc(50% - 5px);
        display        : flex;
        align-items    : center;
        justify-content: space-between;

        input {
            width: 70%;
        }
    }
}

.modal-header {
    button {
        border          : none;
        background-color: transparent;
        outline         : none;
        color           : #fff;
        font-size       : 24px;
    }
}